.idea
*.iml

analysis/build

**/.gradle

**/*.class

**/build

.DS_Store

visualization/node_modules
visualization/node_modules
exampleProjects/TypescriptExample/node_modules
**/dist

output

/analysis/bin/codegraph_temp
/analysis/bin/codegraph_temp_backup
/codegraph_temp

visualization/sbom