.idea
*.iml

analysis/build

**/.gradle

**/*.class

**/build

.DS_Store

visualization/node_modules
visualization/node_modules
exampleProjects/TypescriptExample/node_modules
**/dist

output
analyzer.log

/analysis/bin/dependacharta_temp
/analysis/bin/dependacharta_temp_backup
/dependacharta_temp

visualization/sbom

.claude/settings.local.json