.non-compound-node{
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.label {
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: small;
}
