[*]
max_line_length = 140

[*.{kt,kts}]
ktlint_standard_final-newline = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_supertype-list-wrapping = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-expression-body = disabled

[build.gradle.kts]
max_line_length = off

[**/test/**.kt]
max_line_length = off
ktlint_ignore_back_ticked_identifier = true